#wrapper {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
.navbar {
  font-size: 0px;
}
.nav {
  font-size: 14px;
}
.nav a {
  text-transform: uppercase;
}
.section {
  padding: 50px 21px;
}
h1 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: #009587;
}
.avatar {
  margin: 0 auto;
}
.social {
  text-align: center;
  padding: 20px 0;
}
.social a {
  text-align: center;
  display: inline-block;
  float: none;
}
.social .btn {
  border-radius: 99px;
  width: 64px;
  padding: 0;
}
@media (max-width: 767px) {
  .social a.col-xs-3 {
      width: 24%;
  }
}
#projects a {
  color: black !important;
  text-decoration: none !important;
}
#projects a h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  text-decoration: underline !important;
  text-align: center;
  color: #009587 !important;
}
i {
    margin: 0 auto;
}
