body {
  position: relative;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
#wrapper {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.navbar .nav {
  display: flex;
  justify-content: center;
  float: none;
  margin: 0 -15px;
}
.navbar .navbar-collapse {
  text-align: center;
}

.nav > li {
  float: left;
}
.navbar {
  font-size: 0px;
}
.navbar .icon {
  position: relative;
  top: -1px;
  left: 2px;
}
.nav {
  font-size: 14px;
}
.nav a {
  text-transform: uppercase;
}
.section {
  padding: 50px 0px;
}
h1 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: #009587;
}
.avatar {
  margin: 0 auto;
}
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.social {
  padding: 45px 0 20px 0;
  display: flex;
  justify-content: center;
}
.social i {
  display: inline-block;
}
.social a {
  text-align: center;
  padding: 0;
}
#projects a {
  color: black !important;
  text-decoration: none !important;
}
#projects a h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  text-decoration: underline !important;
  text-align: center;
  color: #009587 !important;
  min-height: 67px;
  font-size: 26px;
}
#projects a p {
  min-height: 60px;
}
i {
    margin: 0 auto;
}
.description-col {
  text-align: justify;
}
.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
}
@media (max-width: 575.98px) {
  .description-col {
    margin-top: 45px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .description-col {
    margin-top: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .well {
    min-height: 230px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .well {
    min-height: 210px;
  }
}

@media (min-width: 1200px) {
}